@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* butonul*/
.dropbtn {
    background-color: rgb(216, 184, 43, 0.80);
    color: white;
    padding: 2vh;
    font-size: 2vh;
    font-family: 'Lora', serif;
    border: none;
  }

.dropdown{
    width: 10vh;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color:  rgba(215, 183, 39, 0.662);
    min-width: 2vh;
}

.dropdown-content a{
    display: block;
    background-color:rgba(242, 196, 196, 0.982);
    color: white;
    text-decoration: none;
    padding: 3vh;
    font-size:2vh;
    text-align: center;
}

.dropdown-content a:hover {background-color: rgba(188, 130, 141, 0.90);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:   rgba(215, 183, 39, 0.753);}
  



  span {
    display: inline-block;
    position: fixed;
    padding: 2vh;
    right: 1vh;
    bottom: 1vh;
    background: rgb(193, 150, 157);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    transition: 1s;
  }
  
  span:hover {
    background: rgb(216, 184, 43);;
  }




body{
    margin: 0;
    padding: 0;
    background-color: rgba(236, 193, 201, 0.425);
    overflow: auto;
}

body > img{
    height: 525px;
    width: 100%;
}





table,
th,
td {
    border: 1px solid black;
}




.trailer{
   display: flex;
   justify-content: center;
   align-items: center;
}




.titlu h1{
    color: rgb(216, 184, 43);
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 15vh;
 }




 .subtitlu p{
    color: rgb(137, 16, 16);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3vh;
 }




 .prezentare{
    color: rgb(137, 16, 16);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3vh;
}
.prop_prezentare{
    padding: 0px 7vh;
}
.prop_prezentare p{
    text-indent: 3vh;
}



.distributia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.distributia img{
    max-width: 100%;
    width: 1000px;
    padding-top: 3vh;
}
.distributia table{
    margin-top: 3vh;
}
.distributie p{
    color: rgb(137, 16, 16);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3vh;
}




 .recenzie p{
    color: rgb(137, 16, 16);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3vh;
    padding-bottom: 3vh;
 }

 .prop_recenzie{
    padding: 0px 5vh;
    text-indent: 5vh;
 }




.premii p{
    color: rgb(137, 16, 16);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3vh;
    margin-top: 3px;
}
.prop_premii p{
    text-align: center;
}




.date p{
    color: rgb(137, 16, 16);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3vh;
}


.prop_date{
    margin-left: calc(44%/2);
    margin-bottom: 8vh;
}




.galerie{
    color: rgb(137, 16, 16);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3vh;
}




.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-slider {
    display: flex;
    overflow: hidden;
    width: 100%;   
    justify-content: center;
    align-items: center;
    height: 60vh; 
    margin-bottom: 3vh;
}


.gallery-slider img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    width: 5vh;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 3vh;
    border: none;
    cursor: pointer;
}

.prev-button {
    left: 1vh;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
      
.prev-button:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.next-button {
    right: 1vh;  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
  
.next-button:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
  
.gallery-slider img.active {
    display: block;
}
