@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  
@media (min-width: 769px) {
    body {
      font-size: 16px;
    }
  }


.dropbtn {
    background-color: rgb(19, 121, 124);
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'Lora', serif;
    border: none;
  }

.dropdown{
    width: 200px;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(19, 121, 124);
    min-width: 160px;
    overflow: auto;
    }

.dropdown-content a{
    display: block;
    background-color:rgb(19, 121, 124);
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size:17px;
    text-align: center;
}

.dropdown-content a:hover {background-color:rgb(50, 175, 179); }

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:  rgb(22, 76, 78);}
  

  span {
    display: inline-block;
    position: fixed;
    padding: 16px;
    right: 8px;
    bottom: 8px;
    background: rgb(50, 175, 179);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(14, 70, 93);
    cursor: pointer;
    transition: 1s;
  }
  
  span:hover {
    background:  rgb(31, 117, 120);
  }



  body {
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/230213144330-02-titanic-25th-anniversary-restricted.jpg?c=original');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
   
  }

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/230213144330-02-titanic-25th-anniversary-restricted.jpg?c=original');
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(5px); 
  z-index: -1; 
}

table,
th,
td {
    border: 1px solid black;
}
.trailer{
   display: flex;
   justify-content: center;
   align-items: center;
}

.titlu h1{
    color: rgb(63, 211, 216);
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 200px;
 }

 .subtitlu p{
    color: rgb(63, 211, 216);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 40px;
 }

 .prezentare{
    color: rgb(63, 211, 216);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 30px;
}
.prop_prezentare{
    padding: 0px 50px;
    font-size: 18px;
    color: rgb(200, 218, 218);
}

.prop_prezentare p{
    text-indent: 50px;
}
.distributie p{
    color: rgb(63, 211, 216);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 30px;
}
.distributia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.distributia img{
    max-width: 100%;
    width: 1000px;
    padding-top: 30px;
}
.distributia table{
    margin-top: 30px;
    border-color: rgb(255, 255, 255);

}
td, th {
    border-color: rgb(255, 255, 255);
    color: white;
  }
 .recenzie p{
    color: rgb(63, 211, 216);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
 }

 .prop_recenzie{
    padding: 0px 50px;
    text-indent: 50px;
    padding: 0px 50px;
    font-size: 18px;
    color: rgb(200, 218, 218);
 }


.premii p{
    color:  rgb(63, 211, 216);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.prop_premii p{
    text-align: center;
    font-size: 18px;
    color: rgb(200, 218, 218);
}

.date p{
    color:  rgb(63, 211, 216);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 30px;
}
.prop_date{
    margin-left: calc(44%/2);
    margin-bottom: 80px;
    font-size: 18px;
    color: rgb(200, 218, 218);
}
.galerie{
    color: rgb(63, 211, 216);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 30px;
}

.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-slider {
    display: flex;
    overflow: hidden;
    width: 100%;   
    justify-content: center;
    align-items: center;
    height: 400px; 
    margin-bottom: 30px;
}


.gallery-slider img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.gallery-slider img.active {
    display: block;
}
